h1{
    color: purple;
    text-align: center;
}

form{
    line-height: 160%;
    font-family: Arial, Helvetica, sans-serif;
}
.center {
    background-color: gainsboro;
    border-radius: 25px;
    margin: auto;
    width: 30%;
    padding: 10px;
}

.elements{
    margin: 20px;
}

input[type=text]{
    width: 100%;
}

input[type=password]{
    width: 100%;
}

input[type=date]{
    width: 100%;
}

select{
    width: 100%;
}

button[type=submit]{
    width: 100%;
    border-radius: 5px;
    /* background-color: #D1F2D4; */
    color: aqua;
}

label{
    font-size: large;
}


span{
    color: red;
}

#unhide1{
    margin-left: 63%;
}

#unhide2{
    margin-left: 63%;
}